<%= simple_form_for(@robot, url: robot_path(@robot), method: :patch) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :price %>
    <%= form.input :availability, as: :boolean %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
