<%= simple_form_for(@robot) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :robot_type, collection: Robot::ROBOT_TYPES, prompt: 'Select a Robot Type' %>
    <%= form.input :description %>
    <%= form.input :price %>
    <%= form.input :availability, as: :boolean %>
    <%= form.input :image, as: :file %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Back', robots_path %>
  </div>
<% end %>


<style>
.form-actions {
  display: flex;
  justify-content: space-between;
}
</style>
