<% robots.each do |robot| %>
  <a href=<%= robot_path(robot)%> style="color: black">
    <% unless user_signed_in? && robot.user == current_user %>
      <div class="card index-card">
        <% if robot.image.attached? %>
          <%= cl_image_tag robot.image.key, height: 200, crop: :fill %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= robot.name %></h5>
          <p class="card-text">Type: <%= robot.robot_type %></p>
          <p class="card-text">Availability: <%= robot.availability ? 'Available' : 'Not Available' %></p>
          <% if robot.reviews.any? %>
            <p class="card-text">Average Rating: <%= robot.average_rating %></p>
          <% else %>
            <p class="card-text">No rating yet.</p>
          <% end %>
          <p class="card-text">Price: <%= robot.price %></p>
        </div>
      </div>
    <% end %>
  </a>
<% end %>
