<div data-controller="search">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 class="page-title">ROBOTS</h1>
    <% if user_signed_in? %>
      <div class="d-flex gap-4">
        <%= link_to 'My Robots', my_robots_path, class: 'button' %>
        <%= link_to 'My Bookings', my_bookings_path, class: 'button' %>
      </div>
    <% end %>
    <div>
      <%= link_to 'New Robot', new_robot_path, class: 'button' %>
    </div>
  </div>

  <div class="card-grid">
    <input placeholder="Start typing to filter by name or type..." data-search-target="input" data-action="input->search#search" class="search-bar">
  </div>

  <div class="index-card-container">
    <div class="d-flex justify-content-center mx-auto flex-wrap gap-5" data-search-target="display">
      <% @robots.each do |robot| %>
        <div class="card" style="width: 18rem;">
          <% if robot.image.attached? %>
            <%= link_to robot_path(robot) do %>
              <%= image_tag url_for(robot.image), class: 'card-img-top', alt: robot.name %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= robot.name %></h5>
            <p class="card-text">Description: <%= robot.description %></p>
            <p class="card-text">Price: <%= robot.price %></p>
            <% if robot.reviews.any? %>
              <p class="card-text">Average Rating: <%= number_with_precision(robot.reviews.average(:rating), precision: 1) %></p>
            <% else %>
              <p class="card-text">No reviews yet.</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>

  body {
      background-image: url('https://images.unsplash.com/photo-1536933742725-4e11180a9b9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
      background-size: cover;
      background-repeat: no-repeat;
  }

</style>
