<div class="d-flex justify-content-between align-items-center mb-5">
  <h1 class="page-title">ROBOTS</h1>
  <%# Search bar %>
  <div class="d-flex justify-content-between">
    <div class="d-flex mb-3">
      <%= form_tag robots_path, method: :get, class: 'form-inline position-relative', data: { controller: 'search' } do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by type', data: { target: 'search.input' } %>
          <div class="input-group-append">
            <%= submit_tag 'Search', class: 'button search-button position-absolute'%>
          </div>
      </div>
    <% end %>
  </div>
</div>
  <div class="d-flex gap-4">
    <% if user_signed_in? %>
      <%= link_to 'My Robots', my_robots_path, class: 'button' %>
      <%= link_to 'My Bookings', my_bookings_path, class: 'button' %>
    <% end %>
      <div>
        <%= link_to 'New Robot', new_robot_path, class: 'button' %>
      </div>
  </div>
</div>

<div class="index-card-container">
  <div class="d-flex justify-content-center mx-auto flex-wrap gap-5">
    <% @robots.each do |robot| %>
      <% unless user_signed_in? && robot.user == current_user %>
          <div class="card index-card">
            <% if robot.image.attached? %>
              <%= cl_image_tag robot.image.key, height: 200, crop: :fill %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to robot.name, robot_path(robot) %></h5>
              <p class="card-text"><%= robot.description.truncate(100) %></p>
              <p class="card-text">Type: <%= robot.robot_type %></p>
              <p class="card-text">Price: <%= robot.price %></p>
              <p class="card-text">Availability: <%= robot.availability ? 'Available' : 'Not Available' %></p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
