<h1><%= @robot.name %> Listing</h1>

<% if @robot.image.attached? %>
  <%= image_tag url_for(@robot.image), class: 'robot-image' %>
<% end %>

<p>Description: <%= @robot.description %></p>
<p>Price: <%= @robot.price %></p>
<p>Type: <%= @robot.robot_type %></p>
<p>Availability: <%= @robot.availability ? 'Available' : 'Not available' %></p>

<% if user_signed_in? && current_user == @robot.user %>
  <%= link_to 'Edit', edit_robot_path(@robot) %>

  <%= form_with url: robot_path(@robot), method: :delete, local: true do %>
    <%= submit_tag 'Delete' %>
  <% end %>
<% end %>

<%= simple_form_for [@robot, @booking] do |f| %>
<%= f.input :start_date, label: 'Enter date' %>
<%= f.input :end_date, label: 'Enter end date' %>
<%= f.button :submit %>
<% end %>
<%= link_to 'Back', robots_path %>
