<div class="show-card">
  <h1 class='page-title'><%= @robot.name %></h1>

  <% if @robot.image.attached? %>
    <%= image_tag url_for(@robot.image), class: 'show-page-img' %>
  <% end %>

  <p>Description: <%= @robot.description %></p>
  <p>Price: €<%= @robot.price %></p>
  <p>Type: <%= @robot.robot_type %></p>
  <p>Availability: <%= @robot.availability ? 'Available' : 'Not available' %></p>

  <% if current_user && @robot.bookings.exists?(user_id: current_user.id, status: 'completed') %>
    <%= render 'reviews/form', booking: @robot.bookings.find_by(user_id: current_user.id, status: 'completed') %>
  <% end %>

  <% if @robot.reviews.present? %>
    <div class="robot-rating">
      Average Rating: <%= number_with_precision(@robot.average_rating, precision: 1) %>
    </div>
  <% else %>
    <div class="robot-no-rating">
      No reviews yet
    </div>
  <% end %>

  <div class="d-flex flex-column gap-2 align-items-start">
    <% if user_signed_in? && current_user == @robot.user %>
      <%= link_to 'Edit', edit_robot_path(@robot), class: 'button' %>
      <%= form_with model: @robot, method: :delete, local: true do |form| %>
        <%= form.submit 'Delete', class: 'button' %>
      <% end %>
    <% end %>
    <% unless @robot.user == current_user %>
      <h3>Make a booking <%= @robot.name %></h3>
      <div class="price d-none"><%= @robot.price %></div>
      <%= simple_form_for [@robot, @booking] do |f| %>
        <%= f.input :start_date, as: :string, label: 'How long would you like to book for?', placeholder: "Click to pick your dates...", input_html: { data: { controller: "datepicker" } } %>
        <%= f.button :submit , class: "button" %>
      <% end %>

      <div data-controller="display-price">
        <div data-display-price-target="display"></div>
      </div>

      <%= link_to 'Back', robots_path, class: 'button' %>
      <%# <%= link_to 'Book Now', new_robot_booking_path(@robot), class: 'button' %>
    <% end %>
  </div>
</div>
