<h1>New Booking for <%= @robot.name %></h1>
<%= simple_form_for [@robot, @booking] do |f| %>
  <%= f.input :start_date, as: :string, label: 'How long would you like to book for?', input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :submit %>
<% end %>

<%# <div data-controller="display-price">
  <div class="price">100</div>
  <div class="display"></div>
</div> %>

<%= link_to 'Back', robot_path(@robot) %>
