<h1>New Booking for <%= @robot.name %></h1>

<%= simple_form_for [@robot, @booking] do |f| %>
  <%= f.input :start_date, label: 'Enter date' %>
  <%= f.input :end_date, label: 'Enter end date' %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', robot_path(@robot) %>
