<h1><%= @robot.name %></h1>
<p><%= @robot.description %></p>
<p>Price: <%= @robot.price %></p>
<p>Availability: <%= @robot.availability ? 'Available' : 'Not Available' %></p>

<h2>Bookings</h2>
<% @robot.bookings.each do |booking| %>
  <div class="booking">
    <p>Start Date: <%= booking.start_date %></p>
    <p>End Date: <%= booking.end_date %></p>
    <%= link_to 'Edit Booking', edit_booking_path(@booking) %>
  </div>
<% end %>

<%= link_to 'Delete Booking', booking_destroy_path(@booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this booking?' } %>
<%= link_to 'Back', robots_path, class: 'button' %>
